<div class="md-padding" flex layout-sm="column">
    <md-card class="text-left">
        <md-card-content>
            <h1>Select search options</h1>
            <form name="myForm">
                <div layout="row" layout-padding>
                    <div flex="70" layout="column">
                        <label>Url epo GitHub</label><br>
                        <input type="url" name="repo" ng-model="vm.form.repoGitHub.selectedRepo" ng-required="true">
                    </div>
                    <div flex>
                        <span class="error" ng-show="myForm.repo.$error.required">
                            url required !
                        </span>
                        <span class="error" ng-show="myForm.repo.$error.url">
                            Not valid url !
                        </span>
                    </div>
                </div>

                <div layout="column" layout-padding>
                    <div flex>
                        <label>Search period</label><br>
                        <select name="period" id="period"
                            ng-options="option.name for option in vm.form.period.availableOptions track by option.id"
                            ng-model="vm.form.period.selectedOption">                
                        </select>           
                    </div>                
                    <div flex >
                        <label>Grouping of data</label><br>
                        <select name="groupment" id="groupment"
                            ng-options="option.name for option in vm.form.groupment.availableOptions track by option.id"
                            ng-model="vm.form.groupment.selectedOption">
                        </select>
                    </div>
                </div>

                <div layout="row" layout-margin>
                    <button ng-click="vm.form.apply()">Search</button>
                </div>
            </form>

            <md-divider class="margin-top-20" ></md-divider>
            <!-- Graphiques lineChart-->
            <div layout="column" layout-align="center center">
                <h2>Graphics</h2>
                <p>The health of your project depends on closed issues but also open issues. The open issues show that your project is still very much alive, and that improvements are coming. And closed issues show that your project solves problems or requests received.</p>
                <p> A healthy project is balanced by the number of open and closed issues.</p>
            </div>
            <div layout="row" layout-xs="column" layout-align="center center">
                <div flex>
                    <canvas id="line" class="chart chart-line" chart-data="vm.dataLineChartOI" chart-labels="vm.lineChart.labels" chart-series="vm.lineChart.series" chart-options="vm.lineChart.options" chart-dataset-override="vm.lineChart.datasetOverride"  chart-click="vm.lineChart.onClick" chart-colors="vm.lineChart.colors">
                    </canvas>
                </div>
                <div flex=40>     
                    <h3>Opened Issues</h3>
                    <p>This chart shows the progression of open issues on time.</p>
                </div>
            </div>
            <div layout="row" layout-xs="column" layout-padding  layout-align="center center">
                <div flex=40>     
                    <h3>Closed Issues</h3>
                    <p>This chart shows the progression of closed issues on time.</p>    
                </div>
                <div flex>
                    <canvas id="line2"class="chart chart-line" chart-data="vm.dataLineChartCI" chart-labels="vm.lineChart.labels" chart-series="vm.lineChart.series" chart-options="vm.lineChart.options" chart-dataset-override="vm.lineChart.datasetOverride"  chart-click="vm.lineChart.onClick" chart-colors="vm.lineChart.colors">
                    </canvas>
                </div>
            </div>
            <div layout="row" layout-xs="column" layout-padding  layout-align="center center">
                <div flex>
                    <canvas id="line3" class="chart chart-line" chart-data="vm.dataLineChartI" chart-labels="vm.lineChart.labels" chart-series="vm.lineChart.series" chart-options="vm.lineChart.options" chart-dataset-override="vm.lineChart.datasetOverride"  chart-click="vm.lineChart.onClick" chart-colors="vm.lineChart.colors">
                    </canvas>
                </div>
                <div flex=40>     
                    <h3>Trend of Issues</h3>
                    <p>This chart shows the evolution of issues over time.</p>
                    <p>If the value is positive, this indicates that the number of open issues is greater than X by the number of closed issues.</p>
                    <p>If the value is negative, this indicates that the number of closed issues is greater than X by the number of open issues..</p>
                </div>
            </div>
            <!-- Graphiques barChart-->
            <div layout="column" layout-align="center center">
                <h2>Podium of hyperactive</h2>
                <p>There is no competition. Opening or closing issues does not mean that you are the best of the team, but who does not want to climb a podium!</p>
                <p>So "tintintintintin", rolling drums ....</p>
            </div>
            <div layout="row" layout-xs="column">
                <div flex>
                    <div layout="column" layout-align="center center">
                        <h3>Opened Issues Podium</h3>
                        <canvas id="bar" class="chart chart-bar" chart-data="vm.dataBarChartOI" chart-series="vm.seriesBarChartOI" chart-labels="vm.labelsChartOI" chart-options="vm.BarChart.options", chart-colors="vm.BarChart.colors"></canvas>
                        <table>
                            <style>
                                table, th , td {
                                    border: 1px solid grey;
                                    border-collapse: collapse;
                                    padding: 5px;
                                }
                                table tr:nth-child(odd) {
                                    background-color: #f2f2f2;
                                }
                                table tr:nth-child(even) {
                                    background-color: #ffffff;
                                }
                            </style>
                            <tr>
                                <th>Positon</th>
                                <th>Author</th>
                                <th>Opened Issues</th>
                            </tr>
                            <tr ng-repeat = "x in vm.tableBestOI">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ x.author }}</td>
                                <td>{{ x.issues }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div flex>
                    <div layout="column" layout-align="center center">
                        <h3>Closed Issues Podium</h3>
                        <canvas id="bar" class="chart chart-bar" chart-data="vm.dataBarChartCI" chart-series="vm.seriesBarChartCI" chart-labels="vm.labelsChartCI" chart-options="vm.BarChart.options", chart-colors="vm.BarChart.colors"></canvas>
                    </div>
                    <table>
                        <style>
                            table, th , td {
                                border: 1px solid grey;
                                border-collapse: collapse;
                                padding: 5px;
                            }
                            table tr:nth-child(odd) {
                                background-color: #f2f2f2;
                            }
                            table tr:nth-child(even) {
                                background-color: #ffffff;
                            }
                        </style>
                        <tr>
                            <th>Positon</th>
                            <th>Author</th>
                            <th>Closed Issues</th>
                        </tr>
                        <tr ng-repeat = "x in vm.tableBestCI">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ x.author }}</td>
                            <td>{{ x.issues }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>
